.filters {
  margin: 1.4rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.filters .searchBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.315);
  border-radius: 0.5rem;
  padding: 0 0.4rem;
}

.searchBox input {
  padding: 0.48rem 0.2rem;
  width: 16rem;
  border: none;
  outline: none;
  color: grey;
  font-size: 0.9rem;
}

.searchBox:focus-within {
  border-color: blue;
}

.searchBox .searchIcon {
  color: grey;
  transform: scale(0.75);
}

.filters select {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #777676;
  font-size: 0.9rem;
  cursor: pointer;
}

option {
  background-color: white;
  border: none;
  outline: none;
}
